<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal-Editar-Perfil</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="../css/modal-edit-profile.css"> -->
</head>
<body>
        <!-- <main>
            <form class="container">
                <div class="container__header">
                    <h1>Editar perfil</h1>  
                    <button id="btnClose">X</button>
                </div>
                <div class="container__content">

                    <label for="cName" class="container__content--legend">Nome</label>
                    <input type="text" id="cName" placeholder="Digite seu novo nome">

                    <label for="cImg" class="container__content--legend" >URL da imagem do perfil</label>
                    <input type="url"  id="cImg" placeholder="Caminho da sua imagem">
                </div>
                <div class="container__button">
                    <button id="btnsend">Salvar Alterações</button>
                </div>
            </form>
        </main> -->
        <!-- (feat/modaleditprofile) -->
    <script type="module" src="../controller/modal-edit-profile.controller.js"></script>
</body>
</html>