<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Inter:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/homepage.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../css/reset.css" media="screen" />
    <title>Document</title>
</head>
<body>
    <header>
        <section class="header__homePage">
            <div class="header__userInfo">
                <h1 class="header__mainPicture">KenzieHabit</h1>
            </div>
        </section>
    </header>
    <main class="user">
        <section class="userinfo">
            <div class="userinfo__container">
            <figure class="userinfo__figure">
            </figure>
            <div class="dropDown">
                <button class="dropDown__editar"><img src="../assets/img/user.png">Editar Perfil</button>
                <button class="dropDown__Logout"><img src="../assets/img/user - cópia.png">Sair do app</button>
            </div>
        </div>
        </section>
        <section class="main__content">
            <div class="main__container">
            <h3 class="main__title">Tarefas</h3>
            <div class="main__filtersButton">
                <button class="main__filterButtonAll">Todos</button>
                <button class="main__filterButtonFinish">Concluídos</button>
                <button class="main__filterButtonNew">Criar</button>
            </div>
            </div>
            <div class="main__contentList">
            <div class="main__titleContent">
                <p class="main__titleStats">Status</p>
                <p class="main__titleTitle">Titulo</p>
                <p class="main__titleDescription">Descrição</p>
                <p class="main__titleTitleCategory">Categoria</p>
                <p class="main__titleEdit">Editar</p>
            </div>
            <ul class="main__data">
                <!--  <li>
                    <div class="main__dataCheck"></div>
                    <p class="main__dataTitle">Pular cordar 5000 vezes</p>
                    <p class="main__dataDescription">teste</p>
                    <p class="main__dataCategory">Saúde</p>
                    <img class="main__dataEdit" src="../assets/img/Group 39.png" alt="">
                </li>
                <li>
                    <div class="main__dataCheck"></div>
                    <p class="main__dataTitle">Pular cordar 5000 vezes</p>
                    <p class="main__dataDescription">teste</p>
                    <p class="main__dataCategory">Saúde</p>
                    <img class="main__dataEdit" src="../assets/img/Group 39.png" alt="">
                </li>
                <li>
                    <div class="main__dataCheck"></div>
                    <p class="main__dataTitle">Pular cordar 5000 vezes</p>
                    <p class="main__dataDescription">teste</p>
                    <p class="main__dataCategory">Saúde</p>
                    <img class="main__dataEdit" src="../assets/img/Group 39.png" alt="">
                </li> -->
                <!-- <li class="main__datali">
                    <div class="main__dataCheck"></div>
                    <p class="main__dataTitle">Pular cordar 5000 vezes</p>
                    <p class="main__dataDescription">teste</p>
                    <p class="main__dataCategory">Saúde</p>
                    <img class="main__dataEdit" src="../assets/img/Group 39.png" alt="">
                </li> -->
             </ul>   
        </div>
        <div class="div__loadMore">
            <button class="button__loadMore">Carregar Mais</button>
        </div>
        </section>

    </main>

    <script type="module" src="../scripts/homepage.scripts.js"></script>


</body>
</html>

